@model BeautyStore.Domain.Entities.Categoria

@{
    ViewData["Title"] = $"Excluir Categoria";
}

<center><h2>@ViewData["Title"]</h2></center>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="card-title text-primary">Tem certeza que deseja excluir a categoria?</h4>

                <dl class="row">
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Nome)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Nome)</dd>
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Descricao)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Descricao)</dd>
                </dl>
            </div>

            <div class="card-footer d-flex justify-content-between">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-success"><span class="fa fa-check"></span></button>
                    <a class="btn btn-dark" asp-action="Index"><span class="fa fa-arrow-left"></span></a>
                </form>
            </div>
        </div>
    </div>
</div>

