@model BeautyStore.Domain.Entities.Categoria

@{
    ViewData["Title"] = $"Detalhes da Categoria";
}

<center><h2>@ViewData["Title"]</h2></center>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Nome)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Nome)</dd>
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Descricao)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Descricao)</dd>
                </dl>
            </div>

            <div class="card-footer d-flex justify-content-between">
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id"><span class="fa fa-pencil-alt"></span></a>
                <a class="btn btn-dark" asp-action="Index"><span class="fa fa-arrow-left"></span></a>
            </div>
        </div>
    </div>
</div>




